<%- model_class = Post -%>
<div class="center_content">
  <div class="page-header">
    <h1><%= t '.title', :default => @post.title %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt><strong><%= '简书专题' %>:</strong></dt>
    <dd><%= @post.jianshu_collection %></dd>
    <dt><strong><%= '知乎专栏' %>:</strong></dt>
    <dd><%= @post.zhihu_collection %></dd>
    <dt><strong><%= '知乎话题' %>:</strong></dt>
    <dd><%= @post.zhihu_tags %></dd>
    <dt><strong><%= '豆瓣评分' %>:</strong></dt>
    <dd><%= @post.douban_rating %></dd>
    <dt><strong><%= '稀土掘金分享链接' %>:</strong></dt>
    <dd><%= @post.wechat_gzh_url %></dd>
    <dt><strong><%= '开发者前线分享链接' %>:</strong></dt>
    <dd><%= @post.wechat_gzh_url %></dd>
    Markdown原稿
    <div id="post_show_content"><%= raw(@post.render_markdown) %></div>
  </dl>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-default' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
              :class => 'btn btn-danger' %>
</div>