<%- model_class = Post -%>
<div class="center_content">
  <div class="page-header">
    <h1><%= t '.title', :default => @post.title %></h1>
  </div>

  <dl class="dl-horizontal">
    <dt><%= '摘要' %>:</dt>
    <dd><%= @post.abstract %></dd>
    <dt><%= '简书专题' %>:</dt>
    <dd><%= @post.jianshu_collection %></dd>
    <dt><%= '知乎专栏' %>:</dt>
    <dd><%= @post.zhihu_collection %></dd>
    <dt><%= '知乎话题' %>:</dt>
    <dd><%= @post.zhihu_tags %></dd>
    <dt><%= '豆瓣评分' %>:</dt>
    <dd><%= @post.douban_rating %></dd>
    <dt><%= '今年第几本' %>:</dt>
    <dd><%= @post.index_of_year %></dd>
    <dt><%= '稀土掘金分享链接' %>:</dt>
    <dd><%= @post.wechat_gzh_url %></dd>
    <dt><%= '开发者前线分享链接' %>:</dt>
    <dd><%= @post.wechat_gzh_url %></dd>
    <div id="post_show_content"><%= raw(@post.render_markdown) %></div>
  </dl>

  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn btn-default' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn btn-default' %>
</div>